.vz-am__calendar-options {
  header {
    width: stretch;
  }
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  margin-bottom: 2em;
}


.vz-am__calendar-option {
  label {
    margin-bottom: 0.3em;
    display: block;
  }
  &.invite-link {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    p {
      margin: 0;
      padding: 0;
      width: stretch;
    }
  }
  .invite-link__container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    align-items: center;
  }

  &.max-days-in-advance {
    input {
      width: 6em;
      text-align: left;
    }
  }
}


.vz-toggle-switch {
  display: inline-block;
  input[type=checkbox] {
    display: none;
  }

  span {
    width: 3.2em;
    height: 2em;
    background-color: #ccc;
    border-radius:  1.5em;
    display: block;
    text-indent: -999px;
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      top: 50%;
      left: 50%;
      position: absolute;
      display: block;
      height: 1.5em;
      width: 1.5em;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.3s;
      transform: translate(-90%, -50%);
    }
  }

  input[type="checkbox"]:checked + span,
  span.--active {
    background-color: #0be;
    &:after {
      transform: translate(-10%, -50%);
    }
  }
}

.vz-am__copy-invite-link {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  border: 1px solid #0be;
  cursor: pointer;
  background-color: transparent;
  color: #666;

  [disabled=true] {
    cursor: not-allowed;
    background-color: #ccc;
    border-color: #666;
  }
}